/* --- CORE STYLES --- */
body {
    background: linear-gradient(-45deg, #202020, #a0a0a0);
    background-repeat: no-repeat;
}
.core-font {
    font-family: 'Roboto', sans-serif;
}
.core-button > img {
    height: 40px;
    width: 40px;
    filter: invert(0);
    transition: filter 250ms ease-in-out;
}
.core-button:hover > img {
    filter: invert(1);
}
.asteriskField {
    display: none;
}
.btn-sm {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}
.detail-btn {
    display: block;
    width: 100%;
    margin-top: 4px;
}
@media (max-width: 767px) {
    .page-item {
        flex: 1;
    }
}

/* --- NAVBAR STYLES --- */
.navbar {
    background-color: #000000;
    border-bottom: 4px solid #202020;
    transition: all 250ms ease-in-out;
    min-height: 64px;
}
.navbar.scrolled {
    background-color: #000000;
    border-bottom: 4px solid #202020;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar-brand > img {
    max-height: 3rem;
}
.nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar-nav > a {
    color: #ffffff !important;
    text-transform: uppercase;
    transition: color 150ms ease-in-out;
}
.navbar .navbar-nav > a:hover {
    color: #c0c0c0 !important;
}
.fixed-top {
    z-index: 1;
}
.navbar .navbar-collapse {
    text-align: center;
}
@media (min-width: 992px) {
    .navbar {
        background-color: transparent;
        border-bottom: 4px solid transparent;
    }
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
    .core-div {
        order: 1;
    }
}

/* --- FOOTER STYLES --- */
footer {
    background: #000000;
    border-top: 4px solid #202020;
    color: #808080;
    text-transform: uppercase;
    padding: 0.5rem;
}
footer p {
    margin: 0.5rem;
    font-size: 0.75rem;
}
footer img {
    max-height: 2rem;
    margin: 0.5rem;
}

/* --- CARD STYLES --- */
.card-header {
    letter-spacing: 0.125rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.card-header > h1 {
    padding: 0;
    margin: 0.5rem;
    line-height: 1;
}
.card-row {
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 100vh;
    height: 100%;
}
.card-btn {
    min-width: 8rem;
    margin-top: 0.25rem;
}

/* --- ALERT STYLES --- */
.alert > ul {
    list-style-type: none;
    padding: 0;
}
.alert {
    background-color: #f8f8f8;
    border-radius: 4px;
    color: #000000;
}
.alert-dismissible {
    animation: slideIn 500ms;
    margin: 0;
}
.message-wrapper {
    margin: 8px 8px;
}

@media (min-width: 992px) {
    .message-wrapper {
        margin: 8px 25%;
    }
}

@keyframes slideIn {
    from {
        transform: translate(0, -72px);
    }
    to {
      transform: translate(0, 0);
    }
}
.alert-success {border-top: 6px solid #8cc63f;}
.alert-danger {border-top: 6px solid #f44336;}
.alert-warning {border-top: 6px solid #ff9800;}
.alert.debug {border-top: 6px solid #181818;}
.alert-info {border-top: 6px solid #3fc6bd;}


/* --- DASHBOARD STYLES --- */
#dashboard {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}
#dashboard.visible {
    visibility: visible;
    opacity: 1;
}
.dashboard-header {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}
.dashboard-body {
    margin: 0.5rem;
    margin-bottom: 8rem;
}
.dashboard-body ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 0;
    padding: 0;
    grid-gap: 0.25rem;
    list-style: none;
    list-style-position: inside;
}
.dashboard-body a.btn-dark {
    background: #404040;
    border-color: #404040;
}
.dashboard-body a.btn-dark:hover {
    background: #1d2124;
}
.dashboard-body ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
    border-width: 0.125rem;
    height: 12rem;
}
.dashboard-body ul li a img {
    max-width: 6rem;
    margin-bottom: 1rem;
}
@media (min-width: 576px) {
    .dashboard-body ul {
        grid-template-columns: repeat(3, 3fr);
    }
    .dashboard-body ul li a {
        height: 14rem;
    }
    .dashboard-body ul li a img {
        margin-bottom: 1.5rem;
    }
}
@media (min-width: 992px) {
    .dashboard-body {
        margin: 6rem;
    }
    .dashboard-body ul {
        grid-template-columns: repeat(4, 4fr);
    }
    .dashboard-body ul li a {
        height: 16rem;
    }
    .dashboard-body ul li a img {
        margin-bottom: 2rem;
    }
}
@media (min-width: 1600px) {
    .dashboard-body {
        margin-left: 16rem;
        margin-right: 16rem;
    }
    .dashboard-body ul {
        grid-template-columns: repeat(5, 5fr);
    }
    .dashboard-body ul li a {
        height: 18rem;
    }
    .dashboard-body ul li a img {
        margin-bottom: 2.5rem;
    }
}

.ck-editor__editable_inline { 
    min-height:256px; 
    max-height:512px; 
}