{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Delete Sign Up' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Delete Newsletter Email" %}</h1>
            </div>
            <div class="card-body">
                <form novalidate method="post">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        {% blocktrans with full_name=object.full_name %}
                        Are you sure you want to delete {{ full_name }} Email?
                        {% endblocktrans %}
                        <br>
                        {% trans "This action is irreversible." %}
                        <br>
                    </div>
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-danger card-btn">{% trans "Delete" %}</button>
                        <a href="{% url 'newsletters:list' %}" class="btn btn-secondary card-btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}