{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Boxes' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Boxes" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "Content" %}</th>
                            <th scope="col">
                                <a class="btn btn-sm btn-primary" href="{% url 'boxes:upload' %}?next={{ request.get_full_path }}" title="Upload Files"><i class="fas fa-upload fa-fw"></i></a>
                            </th>   
                        </tr>
                    </thead>
                    <tbody>
                        {% for box in object_list %}
                        <tr>
                            <td>{{ box.uid }}</td>
                            <td>{{ box.content|truncatechars:16 }}</td>
                            <td>
                                {% if perms.boxes.edit_boxes %}
                                <a class="btn btn-sm btn-warning" href="{% url 'boxes:edit' uid=box.uid %}"><i class="fas fa-pen fa-fw"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}