{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Edit Box' %}{% endblock %}
{% block extra_head %}
{{ form.media }}
{% endblock %}


{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Edit Box" %}</h1>
            </div>
            <div class="card-body ck-content">
                <form novalidate method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form.content|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-primary card-btn">{% trans "Submit" %}</button>
                        <a href="{{ view.success_url }}" class="btn btn-secondary card-btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}