{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Public Polls' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Public Polls" %}</h1>
            </div>
            <div class="card-body">
                {% for poll in object_list %}
                <div class="card">
                    <h3 class="card-header">{{ poll.topic }}</h3>
                    <div class="card-body">
                        {% if poll.get_poll_status != "pending" %}
                            {% if poll.get_poll_status == "closed" %}
                            <span class="badge badge-danger"><i class="fas fa-times"></i> Closed</span><hr>
                            {% else %}
                            <span class="badge badge-success"><i class="fas fa-check"></i> Open</span><hr>
                            {% endif %}
                        {% endif %}
                        <p><strong>Description: </strong>{{ poll.description }}</p>
                        <h6 class="card-title"><strong>Opens</strong>- {{ poll.start_date }}</h6>
                        <h6 class="card-title"><strong>Expires</strong>- {{ poll.end_date }}</h6>
                        {% if poll.get_poll_status != "pending" %}
                            {% if poll.get_poll_status == "closed" %}
                            <a href="{% url 'polls:results' poll.uid %}" class="btn btn-primary">Results</a>
                            {% else %}
                            <a href="{% url 'polls:vote' poll.uid %}" class="btn btn-primary">Vote</a>
                            {% endif %}
                        {% endif %}
                    </div>
                  </div>
                  <br><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}