{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}{% trans 'Edit Poll' %}{% else %}{% trans 'Create Poll' %}{% endif %}{% endblock %}
{% block extra_head %}
    <script src="/static/js/jquery.formset.js"></script>
{{ form.media }}
<script type="text/javascript">
    $(function() {
        $('#id_choices_table tbody tr').formset({
            // For inline formsets, be sure to set the prefix, as the default prefix
            // ('form') isn't correct.
            // Django appears to generate the prefix from the lowercase plural
            // name of the related model, with camel-case converted to underscores.
            prefix: 'pollchoice_set',
            deleteCssClass: 'btn btn-danger',
            deleteText: '',
            addText: 'btn btn-success'
        })
    })
</script>
<style type="text/css">
    .delete-row {
        margin-left:5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% if object %}{% trans 'Edit Poll' %}{% else %}{% trans 'Create Poll' %}{% endif %}</h1>
            </div>
            <div class="card-body">
                <form novalidate method="post">
                    {% csrf_token %}
                    {% if choices.non_form_errors %}
                        {% for error in choices.non_form_errors %}
                           <div class="alert alert-block alert-danger"> <ul class="m-0"> <li>{{error|escape}}</li> </ul> </div>
                        {% endfor %}
                    {% endif %}

                    {{ form|crispy }}
                    <hr>
                    <table id="id_choices_table" border="0" cellpadding="0" cellspacing="5" width="100%"> 
                        <thead>
                            <tr>
                                <th scope="col">Choices</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in choices.forms %}
                            <tr id="{{ form.prefix }}-row">
                                <td>
                                    {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    {{ form.name.errors.as_ul }}
                                    <div class="input-group">
                                        {{ form.name.as_widget }}
                                        <div class="input-group-append"><button class="btn btn-danger" type="button" onclick="javascript:void(0)"><i class="fas fa-minus"></i></button></div>
                                    </div>
                                    <br>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ choices.management_form }}
                    <br>
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-primary card-btn">{% trans "Submit" %}</button>
                        <a href="{{ view.success_url }}" class="btn btn-secondary card-btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}