{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'View Poll' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans 'View Poll' %}</h1>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 text-center">
                            {% if poll.get_poll_status == "open" %}
                            <a class="btn btn-warning detail-btn"
                                href="{% url 'polls:vote' poll.uid %}">{% trans "Vote in Poll" %}</a>
                            {% endif %}
                            {% if perms.polls.edit_polls and poll.get_poll_status == "pending" %}
                            <a class="btn btn-warning detail-btn"
                                href="{% url 'polls:edit' poll.uid %}?next={{ request.get_full_path }}">{% trans "Edit Poll" %}</a>
                            {% endif %}
                            {% if perms.polls.delete_polls %}
                            <a class=" btn btn-danger detail-btn" href="{% url 'polls:delete' poll.uid %}?next={{ request.get_full_path }}">{% trans "Delete Poll" %}</a>
                            {% if poll.get_poll_status == "closed" %}
                            <a class="btn btn-warning detail-btn"
                                href="{% url 'polls:results' poll.uid %}">{% trans "Poll Results" %}</a>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-lg-8 offset-lg-1">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">UID</th>
                                            <td>{{ poll.uid }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Topic" %}</th>
                                            <td>{{ poll.topic }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Description" %}</th>
                                            <td>{{ poll.description }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Start Date" %}</th>
                                            <td>{{ poll.start_date }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "End Date" %}</th>
                                            <td>{{ poll.end_date }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Type" %}</th>
                                            <td>{{ poll.get_poll_type_display }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "List of choices" %}</th>
                                            <td>
                                            {% for choice in poll.pollchoice_set.all %}
                                               {{ choice.name }}<br>
                                            {% endfor %}
                                            </td>
                                        </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}