{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ wiki.title }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/wikis.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row card-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 mb-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="h4 text-center">{% trans "Table of Contents" %}</h1>
                </div>
                <div class="card-body">
                    <table id="jsTable" class="table table-sm table-striped nowrap" style="width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 100%;">Wikis</th>
                                <th>
                                    <a class="btn btn-sm btn-info" href="/wikis/home/"><i class="fas fa-home fa-fw"></i></a>
                                    {% if perms.wikis.create_wikis %}
                                    <a class="btn btn-sm btn-success" href=" {% url 'wikis:create' %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-plus fa-fw"></i></a>
                                    {% endif %}
                                    {% if perms.wikis.view_wikis %}
                                    <a class="btn btn-sm btn-secondary" href="{% url 'wikis:logs' %}"><i class="fas fa-list fa-fw"></i></a>
                                    {% endif %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wiki in wikis %}
                            <tr>
                                <td colspan="2">
                                    <a href="{% url 'wikis:view' url=wiki.url %}">{{ wiki.title }}</a>
                                </td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h1 class="h4 text-center">{{ wiki.title }}</h1>
                </div>
                <div class="card-body ck-content" id="pdf">
                    <p class="card-text">
                        {{ wiki.content|safe }}
                        {% if perms.wikis.view_wikis %}
                        <a class="btn btn-sm btn-info" href="{% url 'wikis:logs' %}?search={{ wiki.url }}">
                            <i class="fas fa-history fa-fw"></i>
                        </a>
                        {% endif %}
                        {% if perms.wikis.edit_wikis %}
                        <a class="btn btn-sm btn-warning" href="{% url 'wikis:edit' url=wiki.url %}?next={{ request.get_full_path }}">
                            <i class="fas fa-pen fa-fw"></i>
                        </a>
                        {% endif %}
                        {% if perms.wikis.delete_wikis %}
                        {% if wiki.url != 'home' %}
                        <a class="btn btn-sm btn-danger" href="{% url 'wikis:delete' url=wiki.url %}?next={% url 'wikis:view' url='home' %}">
                            <i class="fas fa-trash fa-fw"></i>
                        </a>
                        {% endif %}
                        {% endif %}
                        <a class="btn btn-sm btn-primary" href="#" onclick="javascript:genPDF()">
                            <i class="fas fa-file-pdf fa-fw"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}